body
{
background-color:#d8bfd8; 
}
table, th, td
{
border-collapse: collapse;
font-family:Lucida Sans;
text-align:center;
margin: 0 auto;
border: 3px solid #3e2f84;
}
h1
{
color: #cea2fd;
font-family: "Georgia", Georgia , serif; 
text-align: center; 
border: 3px solid rgb(106, 5, 117);
background-color:#151b54;
}